{{#partial "main"}}
    <div id="myCarousel" class="carousel slide" style="margin-top: 25px;">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <a href="">
                    <img src="/images/show/gallery/UV_1180x570_20160712_CN.jpg" alt="First slide">
                </a>
            </div>
            <div class="item">
                <a href="">
                    <img src="/images/show/gallery/bra_1180x570_20160419_CN.jpg" alt="Second slide">
                </a>
            </div>
            <div class="item">
                <a href="">
                    <img src="/images/show/gallery/VEST_1180x570_20160712_CN.jpg" alt="Third slide">
                </a>
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next">&rsaquo;</a>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
                <a href="/items/1"><img src="/images/show/items/25453_L_02_s.jpg" alt="女装"></a>
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
                    <p style="text-align: right;">
                        <a href="#" class="btn btn-danger" role="button">
                            加入<span class="glyphicon glyphicon-shopping-cart"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
                <a href="#"><img src="/images/show/items/25453_L_02_s.jpg" alt="女装"></a>
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
                    <p style="text-align: right;">
                        <a href="#" class="btn btn-danger" role="button">
                            加入<span class="glyphicon glyphicon-shopping-cart"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
                <a href="#"><img src="/images/show/items/25453_L_02_s.jpg" alt="女装"></a>
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
                    <p style="text-align: right;">
                        <a href="#" class="btn btn-danger" role="button">
                            加入<span class="glyphicon glyphicon-shopping-cart"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
                <a href="#"><img src="/images/show/items/25453_L_02_s.jpg" alt="女装"></a>
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
                    <p style="text-align: right;">
                        <a href="#" class="btn btn-danger" role="button">
                            加入<span class="glyphicon glyphicon-shopping-cart"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
                <a href="#"><img src="/images/show/items/25453_L_02_s.jpg" alt="女装"></a>
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
                    <p style="text-align: right;">
                        <a href="javascript:void(0);" class="btn btn-danger" role="button">
                            加入<span class="glyphicon glyphicon-shopping-cart"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout}}