{{#partial "main"}}
<div>
    <fieldset>
      <legend>Please Login</legend>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" class="form-control"/>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control"/>
      <div class="form-actions">
        <button type="submit" class="btn">Log in</button>
      </div>
    </fieldset>
</div>
{{/partial}}
{{> layout}}